<h1 class="text-center">Concerts today</h1>
<% @concerts.each do |concert| %>
<% if concert.date == Date.today %>
<p class="text-center">Band: <%= concert.band %>, City: <%= concert.city %>, Venue: <%= concert.venue %>, Price: $<%= concert.price %> </p>
	<% end %>
	<% end %>